@font-face {
    font-family: gunplay;
    src: url(./gunplay.otf);
}

#cercle {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(var(--diametre), 1fr);
    grid-template-rows: repeat(var(--diametre), 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    >* {
        position: relative;
        align-items: center;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    * {
        background-size: cover;
        aspect-ratio: 1;
    }

    *.right,
    *.right>* {
        background-position: right;
    }

    *.left,
    *.left>* {
        background-position: left;
    }

    >*>image {
        position: absolute;
        opacity: 0;
        width: inherit;
    }
}

image {
    transition: all 700ms;
}

:has(>image) {
    cursor: zoom-in;
    transition: all 200ms;

    &:hover {
        transform: scale(2);
        z-index: 1;
    }
}

body {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.number span {
    font-family: gunplay;
    text-align: center;
    background-color: #222;
    width: inherit;
    position: absolute;
    padding-top: 1.5em;
    font-size: 3vh;
    color: #aaa;
}

.zoomed {
    cursor: zoom-out;
    transform: scale(20) !important;
    z-index: 2;
}

.allumé>image {
    opacity: 1 !important;
}

* {
    user-select: none;
}